footer.footer.bg-black
  .container
    p
      | Copyright © #{moment().format('YYYY')}&nbsp;
      | &nbsp; Case Consulting, Inc, all rights reserved.

//- Load jQuery
// TODO: switch to generated minified version
script(src='lib/jquery/dist/jquery.min.js')
script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
