extends ../layouts/layout

block head
  title #{title} &middot; Welcome!

block content
  .jumbotron
    .container
      h2 Welcome to the Express Sample Application
      .row.hidden-xs
        .col-md-12
          hr
          img.img-responsive.center-block(src="images/logo.png")
          hr
      .row.hidden-xs
        .col-md-4
          h4
            i.fa.fa-group.fa-lg.green
            | &nbsp;&nbsp;Built for eaze
          p
            | Express Starter App is built with standard components such as Bootstrap and FontAwesome and is easy to customize.
        .col-md-4
          h4
            i.fa.fa-bolt.fa-lg.yellow
            | &nbsp;&nbsp;Current
          p
            | Express Starter App uses some of the most current Node.js libraries available.  Allowing you to get up to speed with the latest tech quickly.
        .col-md-4
          h4
            i.fa.fa-tablet.fa-lg.blue
            | &nbsp;&nbsp;Ready to teach
          p
            | Express Starter App is set up so that you can explore one technology without getting lost in the whole tech stack.

//- Page-specific stuff
block scripts
